<% include top %>

<h1>Create an Event</h1>
<form id="createEventPage">
	<ul>
		<h4>Name of Event</h4>

		<input type="text" id="createEvent_name" value="" placeholder="Name..." required>
		<h4>Date of Event</h4>
		<input type="text" id="createEvent_date" value="" placeholder="Date..." required>
		<h4>Cooks to Invite</h4>
		<ul id="createEvent_cooks">
			<li><h5>Put friend code here later</h5></li>
		</ul>
		<input type="button" id="createEvent_addCook" value="Add Cook">
		<h4>Food To Cook (Add a Recipe!)</h4>
		<ul id="createEvent_foods">
			<li><h5>Put friend code here later</h5></li>
		</ul>
		<input type="button" id="createEvent_addFood" value="Add Cook">
		<div class="foodtocook" id="foodtocook"></div>
		<h4>Search for a Recipe</h4>
		<form id="searchForRecipes">
		  <input type="text" id="recipesearchname" name="recipes">
		  <input type="button" id="recipesearch" name="submit" value="Search">
		</form>
		<div class="searchresults" id="searchresult"></div>
	</ul>
	<input type="button" id="createEvent_save" value="Save Event">
</form>

<% include bottom %>