<% include top %>
<h1>Edit Some Random Recipe</h1>

<form id="editRecipiePage">
	<ul>
		<h4 id="editRecipe_name">*recipie name*</h4>
		<h4>Steps</h4>
		<ol id="editRecipie_steps">
		</ol>
		<input type="button" id="editRecipie_addStep" value="Add Step">
		<h4>Ingrediants</h4>
		<ul id="createEvent_ingreds">
		</ul>
		<input type="button" id="editRecipie_addIngred" value="Add Ingrediant">
	</ul>
	<input type="submit" id="editRecipie_save" value="Save Recipie">
</form>
<% include bottom %>
