<% include top %>
<h1>Edit Some Random Recipe</h1>

<form id="editRecipePage">
	<ul>
		<h4 id="editRecipe_name">*recipie name*</h4>
		<h4>Steps</h4>
		<ol id="editRecipe_steps">
		</ol>
		<input type="button" id="editRecipe_addStep" value="Add Step">
		<h4>Ingrediants</h4>
		<ol id="editRecipe_ingreds">
		</ol>
		<input type="button" id="editRecipe_addIngred" value="Add Ingrediant">
	</ul>
	<input type="submit" id="editRecipe_save" value="Save Recipe">
</form>
<% include bottom %>
