<% include top %>
	<h1>Events</h1>
	<ul id="events_events">
	</ul>
	<form id="createEvent">
		<a href = "/createEvent"><input type="button" id="createEventBtn" value="Create a new Event"></a>
	</form>
	</div>
<% include bottomscripts %>
<script>updateEvents()</script>
</body>
</html>