<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-inline">
                    <li>
                        <a href="index.html">My Dashboard</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="recipes.html">Recipes</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="events.html">Events</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="account.html">My Account</a>
                    </li>
                  <span style = "float: right">
                    <a class="right" href="https://www.facebook.com/theyounghackers" target="_blank" class="fb"><i class="fa fa-facebook"></i></a>
                  <a class="right"href="http://twitter.com/theyounghackers" target="_blank" class="tw"><i class="fa fa-twitter"></i></a>
                  </span>
                </ul>
                <p class="copyright text-muted small">Copyright &copy; The Meal Planner 2015. All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>