<!DOCTYPE html>


<html>
<head>
<<<<<<< HEAD
<h1> KAMP </h1>

<head>





<body>



<p>Plan your Events and divide the work </p>

</body>


=======
	<title>Meal Planner</title>
</head>


<body>
	<h1>Meal Planner</h1>
	<p1>Insert loggin stuff here</p1>
	<form>
		<input type="button" value="It's a button!">
	</form>
</body>
</html>
>>>>>>> 3d900b198672a95e7c49e8c022b7235901512b66
