<!DOCTYPE html>


<html>
<head>
	<title>Meal Planner</title>
</head>


<body>
	<h1>Meal Planner</h1>
	<p1>Insert loggin stuff here</p1>
	<form>
		<input type="button" value="It's a button!">
	</form>
</body>
</html>