<% include top %>
	<h1>Your Recipes</h1>
		<form id="editRecipe">
		<a href = "/editRecipe"><input type="button" id="editRecipebtn" value="Edit Recipe"></a>
		<a href = "/testImportRecipe"><input type="button" id="importRecipebtn" value="Test Import"></a>
		</form>
<% include bottom %>