<% include top %>
	<h1>Your Recipes</h1>
		<form id="editRecipe">
		<a href = "/editRecipe"><input type="button" id="editRecipebtn" value="Edit Recipe"></a>
<<<<<<< HEAD
	</form>
=======
		<a href = "/testImportRecipe"><input type="button" id="importRecipebtn" value="Test Import"></a>
		</form>
>>>>>>> 87e41c81847b720850ce34a53b601380801b07c6
<% include bottom %>