<% include top %>
	<h1><%=recipe.name%></h1>
	<ul id="recipeInfo">
		<h4>Steps</h4>
		<h4>Ingredients</h4>
		<ol id="recipeInfo_ingreds">
			<%for (var i = 0; i < recipe["recipe"]["ingredients"].length; i++) {%>
				<li><%= recipe["recipe"]["ingredients"][i]%></li>
			<%}%>
		</ol>
	</ul>
<% include bottom %>

